@model List<Product>
    @{
    ViewData["Title"] = "GetList";
    }

    <h2>Get List</h2>
    <p class="alert-success">@TempData["nontification"]</p>
    <table class="table">
        <thead>
            <tr>
                <td width="100"><input type="checkbox" id="check-all"/></td>
                <td width="100">Product ID</td>
                <td width="400">Product Name</td>
                <td width="150">Product Price</td>
                <td width="100"></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
        {
            <tr id="product-@product.id">
                <td><input type="checkbox" class="item-check" onchange="DeleteAll(this)"/></td>
                <td>@product.id</td>
                <td>@product.name</td>
                <td>@product.price</td>
                <td>
                    <a class="btn btn-primary" href="Product/Update?id=@product.id">Edit</a>
                    <a class="btn btn-danger" id="@product.id" onclick="DeleteClick(this.id)">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
<script>
    function DeleteClick(id) {
        if (confirm("Confirm delete product?")) {
            var deleteID = id;
            var currentProduct = document.getElementById("product-"+deleteID);
            var xmlHttpRequest = new XMLHttpRequest();
            xmlHttpRequest.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    alert("Delete success!");
                    currentProduct.remove();
                }
            }
            xmlHttpRequest.open("DELETE", "/Product/DeleteProduct?id=" + deleteID, true);
            xmlHttpRequest.send();
        }
        
    }
    function DeleteAll(this) {
        alert(1);
    }
</script>